*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(-135deg,#1f0216,#034b0c,#061a41);
    padding: 10px;
}


.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    justify-content: center;
}

.todo-app h1{
    color: #10161f;
    margin-bottom: 20px;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
    background: #edeef0;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button{
    border: none;
    outline: none;
    padding: 16px 15px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background: #ff5945;
    color: white;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(./circle-icon-16071.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul .checked{
    color: #555;
    text-decoration: line-through;
}

ul  .checked::before{
    background-image: url(./check.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: crimson;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background: #a19c9c;
    border-radius: 50%;
    font-weight: bolder;
}

.date{
    color: #fff;
    border: 2px solid white;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    background: linear-gradient(135deg,#581c45,#6e085f,#153677);

}
